name: CI/CD to Kubernetes

on:
  push:
    branches: [ main ] # Agar branch nomi master bo'lsa, master deb yozing

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          # Image nomi: 5969989/my-nginx-app
          docker build -t 5969989/my-nginx-app:${{ github.sha }} .
          docker push 5969989/my-nginx-app:${{ github.sha }}
          # 'latest' tagini ham yangilab qo'yamiz
          docker tag 5969989/my-nginx-app:${{ github.sha }} 5969989/my-nginx-app:latest
          docker push 5969989/my-nginx-app:latest

      - name: Set Kubernetes Context
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}

      - name: Deploy to Kubernetes
        run: |
          # Kubernetes'dagi deploymentni yangi image bilan yangilaymiz
          kubectl set image deployment/nginx-deployment nginx=5969989/my-nginx-app:${{ github.sha }}
          # O'zgarishlarni kuchga kiritish
          kubectl rollout restart deployment/nginx-deployment
